

<% if logged_in? %>
	<h1>Create a new project!!</h1>
	<%= render 'creation_form' %>
	<%= link_to 'Back', projects_path %>
<% else %>
	<h1>
	Please <%= link_to "log in", "/login" %>  or <%= link_to "create an account", "/users/new" %> to be able to create a project.
	</h1>
<% end %>