


<h1> <%= @project.name %></h1>

<!-- should we have images? videos? too lazy to look at the assignment. -->

<div id="project_description">
	<%= @project.description %>
</div>

<% if logged_in? %>
	<% if current_user == @project.owner %>
		Your project is doing well! haha, just kidding
	<% else %>

<% end %>
